<h1> TA-TE-TI </h1>
<p>
<p> Turno para : <%= @turno %>
<p>
<p>
<table>
	<tr>
		<td id="10">
			<a id="10" href="/presionarBoton">LIBRE</a>
		</td>
		<td id="11">
			<a href="">LIBRE</a>
		</td>
		<td id="12">
			<a href="">LIBRE</a>
		</td>
	</tr>
	<tr>
		<td id="20">
			<a href="">LIBRE</a>
		</td>
		<td id="21">
			<a href="">LIBRE</a>
		</td>
		<td id="22">
			<a href="">LIBRE</a>
		</td>
	</tr>
	<tr>
		<td id="30">
			<a href="">__</a>
		</td>
		<td id="31">
			<a href="">__</a>
		</td>
		<td id="32">
			<a href="">__</a>
		</td>
	</tr>
</table>


